.contact{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    color: white;
    background-color: #191d42;
}
textarea {
    /* On aligne les textes sur plusieurs lignes avec leur
       libellé. */
    vertical-align: top;
  
    /* On fournit un peut d'espace pour saisir du texte. */
    height: 5em;
  
    /* On permet de redimensionner verticalement. */
    resize: vertical;
    font: 1em sans-serif;

  /* Taille uniforme pour des champs */
    width: 300px;
    box-sizing: border-box;

  /* On utilise la même bordure que pour le formulaire */
    border: 1px solid #999;
  }
  .button {
    /* On aligne les boutons avec les champs texte. */
    padding-left: 90px; /* La même taille que les libellés */
    margin-left: 0.5em;
  }
  label {
    /* Taille et alignement uniformes */
    display: inline-block;
    width: 90px;
    text-align: right;
  }