@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Pixelify+Sans&family=Roboto:wght@500&display=swap');

*{
  text-decoration: none;
  font-family: 'Gabarito';
  padding: 0;
  margin: 0;
  list-style: none;
}


.plato_easy{
    display: flex; 
    width : 1100px;
    height : 850px;
}
    

img {
    max-width: 100%;
    max-height: 100%;

    }

    .fond{
    background-image: url("Assets/wallpaper.png");
    color: white;
}



body {
    background-color: #191d42;
}



nav {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #191d42;
}

header {
    display: flex;
    flex-direction: column;
    /*background: url(wallpaper.png);*/
    width: 100%;
    height: 300px;
    color: white;
    align-items: center;
}

.main-title {
    padding: 90px;

}

.listNav2 {
    display: flex;
}

.listNav2 li {
    padding: 20px;
}

.listNav1 {
    padding: 20px;
}
footer {
    display: flex;
}

.footer {
    color: white;
    display: flex;
    align-items: flex-start;
    margin: 150px 60px;
    flex-direction: column;
}

span {
    color: #b5aaf0;
}

.footer2 {
    margin: 150px 60px;
    display: flex;
    color: white;
    justify-content: flex-end;
    flex-direction: column;
    margin: auto;
    align-items: flex-end;
}


nav .listNav2 li:hover {
    color: #b5aaf0;
}

.Copyright {
    color: white;
    display: flex;
    background-color: #110921;
}

li:hover, ul:hover {
    color: #b5aaf0;
}

.tchat2{
    width: 22em;
    height: 45em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 135em;
    right: 1em;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.header_tchat{
    width: 22em;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1125d8;
    color: white;
    border-radius: 15px;
    position: relative;
    bottom: 5px;
}

.img_chat{
    height: 50px;
    width: 50px;
    position: relative;
    left: 10px;
    border-radius: 50%;

}
.header_chat_nom{
    position: relative;
    left: 20px;
}
.cercle_connection{
    background:#0fc018;
    border-radius:50%;
    width:10px;
    height:10px;
    border:2px solid #679403; 
    position: relative;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
}

.main_chat{
    width: 350px;
    height: 670px;
    display: flex;
    flex-direction: column;

}

.message_util{
    /*display: flex;
    justify-content: flex-end;*/
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    right: 5px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;

}


.message_autre{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(212, 204, 204);
    color: black;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    left: 5px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;

}

.footer_chat{
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: flex-start;

}
.messagerie{
    position: relative;
    left: 10px;
    bottom: 10px;
    width: 250px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: Arial, sans-serif; /* Remplacez "Arial, sans-serif" par la police de votre choix */
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
}
.bouton_envoie{
    position: relative;
    left: 20px;
    bottom: 10px;
    width: 60px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 15px;
}