

/* section */

.sec{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 48px;
    height: 600px;
}

.field{
    width: 800px;
    height: 330px;
    vertical-align: middle;
    background-color: cornflowerblue;
    text-align: center;
}