/* section */

.secc{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 48px;
    height: 600px;
}

.diff{
    width: 450px;
}

.space{
    height: 200px;
}

input {
    margin: 0.6rem;
  }

.field{
    width: 45%;
    height: 330px;
    vertical-align: middle;
    background-color: cornflowerblue;
    text-align: center;
}

.res{
    border-radius: 1px;
}

table{
    border-collapse: collapse;
    border: 2px solid white;
    height: 500px;
}

tr,th{
    border-collapse: collapse;
    border: 2px solid white;
    height: 200px;
    background-color: mediumblue;
}

td{
    background-color: darkcyan;
}

.res{
    width: 1764px;
    height: 1000px;
}

.res2{
    height: 2800px;
}

footer {
    display: flex;
    font-size: 24px;
}

.footer {
    color: white;
    display: flex;
    align-items: flex-start;
    margin: 150px 60px;
    flex-direction: column;
}

span {
    color: #b5aaf0;
}