@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Pixelify+Sans&family=Roboto:wght@500&display=swap');

* {
    text-decoration: none;
    font-family: 'Gabarito';
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #10112b;
}

a {
    color: white;
}

.firstLandingPage {
    background: url(../Assets/wallpaper.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0%;
}

.barColor:hover {
    box-sizing: border-box;
    border-top: 3px solid #a8bbed;
}

.barolor {
    box-sizing: border-box;
    border-top: 3px solid #a8bbed;
    color: red;
}

.listNav2 li a {
    text-decoration: none;
}

.listNav2 li a:hover {
    color: #a8bbed; 
}

.onPageHighlight {
    color: #a8bbed;
    text-decoration: underline;
    text-decoration: solid;
    font-size: 30px;
}

nav {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    color: white;
    align-items: center;
    height: 100%;
    background: url(../Assets/wallpaper.png);
    background-position: center;
    background-size: cover;
}

.main-title {
    color: white;
    display: flex;
    font-size: 40px;
    margin-top: 180px;
    justify-content: center;
    height: 100px;
}

.main-title2 {
    color: white;
    display: flex;
    font-size: 40px;
    margin-top: 60px;
    justify-content: center;
    padding: 80px;
    text-align: center;
    width: 80%;
}

.underMain {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.bothTitle{
    height: 300px;
}

.listNav2 {
    display: flex;
}

.listNav2 li {
    padding: 20px;
}

.listNav1 {
    padding: 20px;
}
